* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(169, 169, 169, 0.51);
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

