* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: rgba(169, 169, 169, 0.51);
}

header {
    background-image: url("/img/img-sol/top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    color: white;
}

.inline {
    display: inline-block;
    width: 40%;
    margin-left: 2rem;
    text-align: center;
}

#sizeApple {
    width: 16.3rem;
}

#sizeEver {
    width: 16rem;
}

#sizeTour {
    width: 14.9rem;
}

#sizeMilk {
    width: 13.2rem;
}

#scent {
    text-align: center;
}

.frame{
    border: thick solid black;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    font-size: 2rem;
}

#foot {
    text-align: center;
    margin-top: 5rem;
}

#sizeFuga {
    width: 11.2rem;
}

#sizeCotto {
    width: 10.4rem;
}

#sizeStone {
    width: 10.3rem;
}

#sizeParquet {
    width: 9.7rem;
}

span {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration-line: underline;
    color: blue;
}

footer {
    text-align: end;
    padding: 1rem;
    font-size: 2rem;
}

.color {
    color: blue;
}

