* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: rgba(169, 169, 169, 0.51);
}

.welcome {
    border: 4px double black;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
}

.inline-block {
    display: inline-block;
    width: 49.9%;
    text-align: center;
}

#perfume, #shower{
    border: 3px dotted black ;
}

.size {
    width: 95%;
}

footer {
    text-align: end;
    padding: 1rem;
    font-size: 2rem;
}

.color {
    color: blue;
}