* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: rgba(169, 169, 169, 0.51);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-image: url("/img/remedy-complex/back-remedy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

h1 {
    font-size: 6rem;
    text-shadow: dimgray 2px 2px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-second {
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
}

.frame {
    width: 50%;
    border: 1px dashed black;
}

span {
    font-weight: bold;
}

footer {
    text-align: end;
    padding: 1rem;
    font-size: 3rem;
}