* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background: rgba(169, 169, 169, 0.51);
}

.welcome {
    border: 0.4rem double black;
    border-radius: 0.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

.position {
    margin: 0 auto;
    width: 20rem;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

.right {
    width: 14%;
}


















